<div class="btn-group" role="group" aria-label="edit and delete buttons">
    <button type="button" class="btn btn-dark btn-sm">
        <a href="{% url 'pipeline:cost-update' record.pk %}"
           class="edit-del-btn-group"><i class="bi bi-wrench-adjustable-circle"></i></a>
    </button>
    <button type="button" class="btn btn-danger btn-sm">
        <a href="{% url 'pipeline:cost-delete' record.pk %}"
           class="edit-del-btn-group"><i class="bi bi-trash3-fill"></i></a>
    </button>
</div>
