.DS_STORE
.env*
.prettierignore
**/.vscode/
htmlcov
*.numbers
node_modules
/app/frontend/build
staticfiles
!staticfiles.json
docker-compose.yml
docker-compose.local.yml
import_templates
data

**/__pycache__/
