# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
asgiref=3.5.2=py310hecd8cb5_0
bcrypt=4.0.1=pypi_0
bleach=6.0.0=pypi_0
build=0.10.0=pypi_0
bzip2=1.0.8=h1de35cc_0
ca-certificates=2022.10.11=hecd8cb5_0
certifi=2022.12.7=py310hecd8cb5_0
click=8.1.3=pypi_0
django=4.1=py310hecd8cb5_0
django-bootstrap5=22.2=pypi_0
django-filter=22.1=pypi_0
django-tables2=2.5.1=pypi_0
django-widget-tweaks=1.4.12=pypi_0
ensure=1.0.2=pypi_0
jinja2=3.1.2=pypi_0
libffi=3.4.2=hecd8cb5_6
lxml=4.9.2=pypi_0
markupsafe=2.1.2=pypi_0
ncurses=6.3=hca72f7f_3
openssl=1.1.1s=hca72f7f_0
packaging=23.0=pypi_0
pip=22.3.1=py310hecd8cb5_0
pip-tools=6.12.2=pypi_0
pyproject-hooks=1.0.0=pypi_0
python=3.10.8=h218abb5_1
python-dateutil=2.8.2=pypi_0
pytz=2022.7.1=pypi_0
readline=8.2=hca72f7f_0
setuptools=58.0.0=pypi_0
six=1.16.0=pypi_0
sqlite=3.40.1=h880c91c_0
sqlparse=0.4.3=py310hecd8cb5_0
tk=8.6.12=h5d9f67b_0
tomli=2.0.1=pypi_0
tzdata=2022g=h04d1e81_0
watchman=0.0.1=pypi_0
webencodings=0.5.1=pypi_0
wheel=0.37.1=pyhd3eb1b0_0
xz=5.2.8=h6c40b1e_0
zlib=1.2.13=h4dc903c_0
