<!DOCTYPE html>
{% extends "pipeline/base.html" %}
{% load widget_tweaks %}
{% load static %}
{% block navbar %}
{% endblock navbar %}
{% block body_block %}
    <div class="container">
        <div class="d-flex justify-content-center invoice-upload-logo">
            <img src="{% static 'images/bwcat_logo_720x720.png' %}"
                 alt="BCWC logo"
                 width="155px">
        </div>
        <div class="p-2 col-9 justify-content-center container-fluid">
            <div class="container-fluid justify-content-center">
                <h3 class="display-3 text-center">Thank you!</h3>
                <hr>
            </div>
        </div>
        <form>
        </form>
    </div>
{% endblock body_block %}
