@import './reset.css';
@import 'https://fonts.googleapis.com/css2?family=Chivo+Mono:ital,wght@0,100..900;1,100..900&family=Chivo:wght@100..900&display=swap';

body {
  font-family: 'Chivo', 'Roboto', 'sans-serif';
}

/* body * {
  z-index: 1;
} */

p,
h3 {
  margin: 0;
}

:root {
  --info-highlight: rgb(21, 213, 88);
  --main-text-color: #292929;
  --quick-fade-in-transition: opacity 200ms ease-in-out;
}

.app {
  height: 100%;
  width: 100%;
  border: 1px red solid;
}

.container {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.text-center {
  text-align: center;
}

.container-fluid {
  width: 100%;
}

.bcwc-logo {
  display: flex;
  justify-content: center;
}

.bold {
  font-weight: 700;
}

section.header {
  text-align: center;
}

.requested-invoices,
.section {
  width: 75%;
  margin: auto;
  padding: 1rem 0;
}

button[type='submit'] {
  border: none;
  padding: 0.5em;
  border-radius: 10px;
  font-size: 1.4rem;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  background-color: #292929;
  color: #eee;
  font-weight: 700;
  cursor: pointer;
}

button[type='submit'].disabled {
  background-color: #666d;
  cursor: pointer;
}

.dropzone-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 0;
  opacity: 0;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(13, 13, 39, 0.754);
  border: 15px dashed #808080aa;
  transition: z-index 150ms, opacity 120ms ease-in;

  span {
    position: relative;
    display: flex;
    opacity: 0.3;
    animation: logo-shake 2000ms alternate infinite ease-in-out;
    pointer-events: none;

    img {
      align-items: center;
      justify-content: center;
    }
  }
}

@keyframes logo-shake {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

.dropzone-overlay--active {
  z-index: 50;
  opacity: 1;
}

ol.invoice-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(375px, 1fr));
  grid-template-rows: auto;
  justify-content: center;
  padding: 1.5rem 0;
}

li.invoice {
  display: grid;
  align-items: flex-start;
  padding: 1rem;
  z-index: 0;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.invoice__inv-info-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 0.25rem;
}

.invoice__inv-info-header .job-name {
  font-size: 1.4rem;
  line-height: 1;
  font-weight: 700;
}

.invoice__inv-info-header .subtitle {
  display: block;
  font-size: 0.7rem;
  font-weight: 300;
  font-style: italic;
  color: #666;
}

.invoice__extension-info {
  background-color: #7ec7ff71;
  padding: 0.75rem;
  border-radius: 10px;
  width: 100%;
  font-size: 0.9rem;
}

.invoice__extension-info .ext-job-name {
  font-weight: 700;
}

.invoice__extension-info .ext-job-code {
  color: #666;
  font-size: 0.85em;
  font-style: italic;
}

.invoice__inv-info-details {
  display: flex;
  padding: 0.5rem;
}

.invoice__inv-info-details .inv-main-details {
  display: grid;
  justify-content: center;
}

.invoice__inv-info-details .inv-main-details > ul {
  width: max-content;
}

li.inv-detail {
  padding-left: 0;
  padding: 0;
  font-weight: 300;
  list-style-type: '- ';

  .detail-name {
    font-weight: 600;
  }

  .val {
    color: #555;
  }
}

.upload-step {
  font-weight: 700;
  font-size: 1.2rem;
}

#invoice-select-area {
  display: grid;
  gap: 0.7rem;
  padding: 1rem 0;
}

.input-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: max-content;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 6px;

  & > * {
    height: 2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
  }
}

.input-group label.ig-text {
  border-radius: 5px 0 0 5px;
  background-color: #292929;
  color: #eee;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid #bdbdbd;
}

.input-group select.ig-select {
  border-radius: 0 5px 5px 0;
  border: 1px solid #bdbdbd;
  border-left: none;
}

.inv-file {
  display: flex;
  align-items: center;
}

.inv-file__body {
  position: relative;
  display: flex;
  width: 90%;
  align-items: center;
  /* justify-content: space-between; */
  gap: 0.4rem;
  flex-direction: row;
  padding: 1rem;
  background-color: #fdfdfd;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
  border: 1px solid #bdbdbd;
}

.inv-file__inv-icon {
  font-weight: 700;
  font-size: 1.4rem;
}

.inv-file__file-name {
  font-weight: 700;
  font-size: 1.1rem;
}

.invoice__indicators {
  display: flex;
  justify-content: space-between;
  padding: 0.25rem;
}

.indicators__validation {
  font-size: 1.2rem;
  width: 0;
  padding: 0;
  background-color: inherit;

  i {
    position: absolute;
    color: rgb(21, 213, 88);
    top: -5px;
    right: -5px;
    border-radius: 50%;
    border: 2px solid rgb(0, 142, 45);
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 4px;
  }
}

.indicators__attach-inv,
.inv-file__is-attached {
  background-color: #666;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0 0.3rem;
  border-radius: 5px;
  width: max-content;
  color: #fff;
}

.indicators__attach-inv:not(.attached) {
  width: 20px;
  font-size: 0.7rem;
  white-space: nowrap;

  justify-content: space-between;
  overflow: hidden;
  transition: width 150ms ease-in-out;
  cursor: pointer;
}

.indicators__attach-inv:not(.attached):hover {
  width: 90px;
}

.indicators__attach-inv span {
  background-color: inherit;
  opacity: 0;
}

.indicators__attach-inv:hover span {
  opacity: 1;
  transition: opacity 250ms;
}

.unmatached {
  color: #fff;
  background-color: #666;
}

.inv-file.matched .inv-file__is-attached,
.attached {
  color: #fff;
  background-color: var(--info-highlight);
}

.inv-file__del {
  color: #666;
  font-size: 1.3rem;
  padding: 0 1rem;
  /* display: none; */
  opacity: 0;
  transition: opacity 50ms ease-in;
  cursor: pointer;

  & > i {
    transition: transform 150ms ease-in-out;
  }
}

.inv-file:hover .inv-file__del {
  /* display: block; */
  opacity: 1;
}

.inv-file__del:hover i {
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px; */
  transform: translate(2px, -2px) scale(1.05);
  color: #911;
}

.dz-messages__error {
  background-color: #911;
  color: #fefcd6;
  padding: 0.5rem;
  border-radius: 5px;
}

.hidden {
  display: none;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
}

/* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
}

/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 768px;
  }
  .section {
    width: 80%;
  }
}

/* md */
@media (max-width: 768px) {
  .container {
    max-width: 640px;
  }
  .section {
    width: 80%;
  }
}

/* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .section {
    width: 100%;
  }

  .invoice__inv-info-header {
    align-items: center;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    width: 100%;
  }

  .section {
    width: 100%;
  }

  .invoice__inv-info-header {
    align-items: center;
  }

  .invoice .job-title {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .inv-details-header {
    text-align: center;
  }
}
