<!DOCTYPE html>
{% load static %}
{% load render_bundle from webpack_loader %}
{% block header %}
    <html lang="en-US">
        <head>
            <meta name="description" content="BCWC Pipeline Tools">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            {% block styles %}
                {% render_bundle 'base' 'css' %}
            {% endblock styles %}
            {% block shared_scripts %}
                <script src="https://code.jquery.com/jquery-3.7.1.min.js"
                        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
                        crossorigin="anonymous"></script>
            {% endblock shared_scripts %}
            {% block scripts %}
                {% render_bundle 'base' 'js' attrs="defer" %}
            {% endblock scripts %}
            <title>
                {% block title %}
                    BCWC Tools
                {% endblock title %}
            {% endblock header %}
        </title>
    </head>
    {% block navbar %}
        <nav class="navbar navbar-expand-lg bg-dark p-0" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'admin:index' %}">
                    <img src="{% static 'images/bwcat_logo_sm.png' %}"
                         alt="Bootstrap"
                         width="65"
                         height="65">
                </a>
                <button class="navbar-toggler"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent"
                        aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pipeline:index' %}">Pipeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'pipeline:invoices' %}">All Invoices</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle"
                               href="#"
                               role="button"
                               data-bs-toggle="dropdown"
                               aria-expanded="false">Clients</a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'pipeline:client-add' %}">Add Client</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url 'pipeline:client-list' %}">View Clients</a>
                                </li>
                            </ul>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle"
                                   href="#"
                                   role="button"
                                   data-bs-toggle="dropdown"
                                   aria-expanded="false">Vendors</a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'pipeline:vendor-add' %}">Add Vendor</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'pipeline:vendor-list' %}">View Vendors</a>
                                    </li>
                                </ul>
                            </li>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock navbar %}
    {% block body_block %}
        <body></body>
    {% endblock body_block %}
</html>
