{% extends "pipeline/base.html" %}
{% load widget_tweaks %}
{% block title %}
    Edit Client
{% endblock title %}
{% block body_block %}
    <div class="container">
        <h1 class="display-3 text-center m-3">Update {{ client.friendly_name }}</h1>
        <div class="container" style="width: 450px">
            {% if messages %}
                <div class="container p-3">
                    {% for message in messages %}
                        <div class="container-fluid p-0">
                            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                                {{ message }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            <form method="post" class="form-control shadow p-3">
                {% csrf_token %}
                <div class="p-3">
                    <label class="form-label" for="id_friendly_name">Friendly name</label>
                    {% render_field form.friendly_name class+="form-control mb-2" placeholder="Friendly name" %}
                    <label class="form-label" for="id_proper_name">Proper name</label>
                    {% render_field form.proper_name class+="form-control mb-2" placeholder="Proper name" %}
                    <label class="form-label" for="id_proper_name_japanese">Proper name (日本語)</label>
                    {% render_field form.proper_name_japanese class+="form-control mb-2" placeholder="正式名称" %}
                    <label class="form-label" for="id_job_code_prefix">Client code (e.g. "APL")</label>
                    {% render_field form.job_code_prefix class+="form-control mb-2" %}
                </div>
                <input type="submit" class="btn btn-dark" value="Save">
            </form>
        </div>
    </div>
{% endblock body_block %}
