<!DOCTYPE html>
{% extends "pipeline/base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block header %}
{{ block.super }}
<style type="text/css">
  a { text-decoration: none; }
</style>
{% endblock %}

{% block title %}COST SHEET{% endblock %}

{% block body_block %}
<div class="container">
  <div class="container-fluid bg-body-secondary p-4">
    <div class="container form-control shadow rounded-3">
      <div class="row">
        <div class="col-5 me-auto">
          <h3>New cost</h3>
          <hr>
          <form method="post">
            <div class="container m-3">
              <div class="row">
                <div class="col-auto">
                  {% csrf_token %}
                  {% render_field form.amount class+="form-control" placeholder="Amount" id="costsheet-form-amount" %}
                  {% render_field form.currency class+="form-select" id="costsheet-form-currency" %}
                  {% render_field form.description class+="form-control" placeholder="Description" id="costsheet-form-description" %}
                </div>
              </div>
              <input type="submit" value="Add cost" name="add-cost" class="btn btn-dark my-3">
            </div>
          </div>
          </form>

          <div class="col-5">
            <h3>Vendors involved</h3>
            <hr>
            <div class="ps-3 flex-grow-1">
              {% for vendor in currentJob.vendors.all %}
                <div class="row">
                  <div class="col-5">
                    <p>{{ vendor }}</p>
                  </div>
                  <div class="col-2">
                    <a href="{% url 'pipeline:remove-vendor-from-job' currentJob.id vendor.id %}"><button type="button", name="remove-vendor-{{ vendor.id }}" id="costsheet-remove-vendor-btn" class="btn btn-danger btn-sm">remove</button></a>
                  </div>
                </div>
              {% endfor %}
              <form method="post">
                {% csrf_token %}
                <div class="row d-flex align-items-center">
                  <div class="col-5">
                    {% render_field simple_add_vendor_form.addVendor class+="form-select" %}
                  </div>
                  <div class="col-2">
                    <input type="submit" value="+" name="add-vendor" class="btn btn-sm btn-outline-dark">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <h3 class="display-3">cost sheet </h3>
    <hr>
    <h6 class="display-6"> {{ currentJob.job_name }} </h6>
    <h6> <small class="text-muted">Job Code: {{ currentJob.job_code }}</small></h6>
  </div>
  <div class="container p-2">
    <table id="cost-table" class="display compact dt-responsive nowrap" style="width:100%">
      <thead>
        <tr>
          {% for item in headers %}
          <th>{{ item }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  {% comment %} </form> {% endcomment %}
</div>
<script>
  var jobID = {{ currentJob.id }};
</script>
{% endblock %}
