{% extends "pipeline/base.html" %}
{% load render_bundle from webpack_loader %}
{% load widget_tweaks %}
{% load static %}
{% block styles %}
    <link href="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.css"
          rel="stylesheet">
    <style type="text/css">a { text-decoration: none; }</style>
    {% render_bundle 'invoices-list' 'css' %}
{% endblock styles %}
{% block scripts %}
    <script src="https://cdn.datatables.net/v/bs5/dt-2.0.2/datatables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/2.0.3/sorting/absolute.js"></script>
    {% render_bundle 'invoices-list' 'js' attrs="defer" %}
{% endblock scripts %}
{% block title %}
    All Invoices
{% endblock title %}
{% block body_block %}
    <div aria-live="polite" aria-atomic="true" class="position-relative">
        <div class="toast-container top-0 start-50 translate-middle-x p-3">
            <div id="payment-template-error-toast"
                 class="toast bg-danger-subtle"
                 data-bs-autohide="false"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-exclamation-triangle"></i>
                    <strong class="me-auto">Errors</strong>
                    <small class="text-muted">Just now</small>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
                <div class="toast-body"></div>
            </div>
            <div id="payment-template-success-toast"
                 class="toast bg-success-subtle"
                 data-bs-delay="5000"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true">
                <div class="toast-header">
                    <i class="bi bi-check2-circle rounded me-2"></i>
                    <strong class="me-auto">Looks good!</strong>
                    <small class="text-muted">Just now</small>
                    <button type="button"
                            class="btn-close"
                            data-bs-dismiss="toast"
                            aria-label="Close"></button>
                </div>
                <div class="toast-body"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <h3 class="display-3">All Invoices</h3>
    </div>
    <div class="container-fluid p-4">
        <div class="row col-6">
            <div class="display-filter form-control">
                <h3>Filter by status</h3>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="nr"
                           id="filter-nr" />
                    <label for="filter-nr">Not Requested</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="req"
                           id="filter-req" />
                    <label for="filter-req">Requested</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="rec"
                           id="filter-rec" />
                    <label for="filter-rec">Received via upload</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="rec2"
                           id="filter-rec2" />
                    <label for="filter-rec2">Received direct (pdf/paper)</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="at"
                           id="filter-at" />
                    <label for="filter-at">Needs attention</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="err"
                           id="filter-err" />
                    <label for="filter-err">Error on upload</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="que"
                           id="filter-que" />
                    <label for="filter-que">Queued for payment</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="paid"
                           id="filter-paid" />
                    <label for="filter-paid">Paid</label>
                </div>
                <div>
                    <input type="checkbox"
                           class="form-check-input status-filter"
                           value="na"
                           id="filter-na" />
                    <label for="filter-na">No invoice</label>
                </div>
            </div>
        </div>
        <hr />
        <div class="table-responsive">
            {% csrf_token %}
            <table id="all-invoices-table"
                   class="table table-sm table-hover table-borderless nowrap align-middle"
                   style="width: 100%">
                <thead>
                    <tr>
                        {% for item in headers %}<th>{{ item }}</th>{% endfor %}
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="modal fade"
         id="pay-period-modal"
         tabindex="-1"
         aria-labelledby="pay-period-modal"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="pay-period-form" method="post">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Custom Pay Period</h1>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        {% csrf_token %}
                        <div class="col-9">
                            <div class="invoice-desc mx-5"></div>
                            <label for="id_pay_period" class="form-label small">New pay period for this invoice</label>
                            {% render_field pay_period_form.pay_period class+="form-control" %}
                        </div>
                        {{ pay_period_form.cost_id }}
                    </div>
                    <div class="modal-footer">
                        <button type="button"
                                id="pay-period-modal-cancel-btn"
                                class="btn btn-light"
                                data-bs-dismiss="modal">Cancel</button>
                        <button type="submit"
                                class="btn btn-primary submit"
                                id="pay-period-btn"
                                name="set-pay-period">Request invoice</button>
                        <div class="spinner-border spinner-border-sm invisible"
                             role="status"
                             id="pay-period-spinner">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock body_block %}
