
<!DOCTYPE html>
{% extends "pipeline/base.html" %}
{% block body_block %}    
<div class="container">
    <h1 class="display-3">{{ job.job_name }} - {{ job.job_code }} </h1>
    <h5 class="display-5">Job details</h5>
    
    <div class="container bg-body-secondary p-3">
        {% if messages %}
            {% for message in messages %}
                <div class="col-2">
                    <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        {{ message }}
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        <p><strong>Client:</strong> {{ job.client.friendly_name }}</p>
        <p><strong>Job code:</strong> {{ job.job_code }}</p>
        <p><strong>Revenue:</strong> ¥{{ job.revenue }}</p>
        {% if job.cost_rel.all %}
        <p><strong>Vendor invoices received: </strong>{{ job.allVendorInvoicesReceived }}</p>
        {% else %}
        <p><strong>No costs associated with this job. </strong>
        {% endif  %}
        {% if job.vendors.all %}
        <p><strong>Vendors:</strong></p>
            <ul>
            {% for vendor in job.vendors.all %}
                <li>{{ vendor }}</li>
            {% endfor %}
            </ul>
            <p><strong>Costs:</strong></p>
            <ul>
            {% for cost in job.cost_rel.all %}
                <li><strong>{{ cost.vendor.full_name }} - {{ cost.currency }}{{ cost.amount }}</strong>
                <br>Description: {{ cost.description }} 
                <br>Invoice status: {{ cost.get_invoice_status_display }}  </li>
            {% endfor %}
            </ul>

        {% endif %}
        <hr>
            <p><strong>Total cost: ¥{{job.total_cost}}</strong> // Profit ¥{{job.profit}}</strong> <em>({{job.profit_rate}}%)</em></p>
            <p><strong></p>
        
        <div class="d-flex justify-content-center mx-auto">
            <a href={% url 'pipeline:job-update' job_id %} class="btn btn-dark btn-sm col-auto col-lg-2 ">Update Job Details</a>
            <a href={% url 'pipeline:job-delete' job_id %} class="btn btn-danger btn-sm col-auto col-lg-2 ">Delete Job</a>
        </div>
    
        {% if job.relatedJobs.all %}
        <div class="container bg-body-tertiary p-3">
            <h3>Related jobs:</h3>
                {% for relatedJob in job.relatedJobs.all %}
                <p><strong>{{ relatedJob.job_name }} - {{ relatedJob.job_code }}</strong></p>
                <p>Invoice name: {{ relatedJob.invoiceName }} - ¥{{ relatedJob.revenue }}</p>
            </div>
                {% endfor %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}