<!DOCTYPE html>
{% extends "pipeline/base.html" %}
{% load render_bundle from webpack_loader %}
{% load widget_tweaks %}
{% load static %}
{% block title %}
    BCWC Invoice Uploader
{% endblock title %}
{% block styles %}
    {% render_bundle 'invoice-uploader' 'css' %}
{% endblock styles %}
{% block scripts %}
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
            integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/3bfcb4bec9.js"
            crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    {% render_bundle 'invoice-uploader' 'js' attrs="defer" %}
{% endblock scripts %}
{% block navbar %}
{% endblock navbar %}
{% block body_block %}
    <body>
        {% csrf_token %}
        <div class="dropzone-overlay overlay--off">
            <span>
                <img src="{% static 'images/bwcat_logo_720x720.png' %}"
                     alt="BCWC logo"
                     width="350px">
            </span>
        </div>
        <div class="messages-wrapper">
            <div class="messages">
                <div class="dz-messages"></div>
                <div class="dz-error-messages"></div>
            </div>
        </div>
        <div class="nav">
            <img src="{% static 'images/bwcat_logo_720x720.png' %}"
                 alt="BCWC logo"
                 width="75px">
            <h3>BCWC Invoice Uploader</h3>
        </div>
        <div class="container main-content">
            <section class="requested-invoices">
                <h1>Invoiceable jobs</h1>
                <h3>Please find the invoice(s) we're requesting below.</h3>
                {% if requested_invoices %}
                    <ol class="invoice-list">
                        {% for invoice in requested_invoices %}
                            <li class="invoice" data-po-num="{{ invoice.PO_number }}">
                                <div class="invoice__indicators">
                                    <button type="button" class="indicators__attach-inv" tabindex="0">
                                        <i class="fa-solid fa-plus"></i>
                                        <span>Add invoice</span>
                                    </button>
                                </div>
                                <div class="invoice__inv-info-header">
                                    <div class="inv-info-header__job-name">
                                        <div class="rel-pos-wrapper">
                                            <p class="job-name ellipsify">{{ invoice.job.job_name }}</p>
                                        </div>
                                        <div class="subtitle text-sm-ital">
                                            Job code: <span class="val">{{ invoice.job.job_code }}</span>
                                        </div>
                                    </div>
                                </div>
                                {% if invoice.job.is_extension_of %}
                                    <div class="invoice__extension-info">
                                        <p>Usage extension:</p>
                                        <div class="rel-pos-wrapper">
                                            <div class="ext-job-name ellipsify">{{ invoice.job.is_extension_of.job_name }}</div>
                                        </div>
                                        <div class="ext-job-code lh-narrow">Job code: {{ invoice.job.is_extension_of.job_code }}</div>
                                    </div>
                                {% endif %}
                                <div class="invoice__inv-info-details">
                                    <p class="inv-details-header">Invoice details</p>
                                    <div class="inv-main-details">
                                        <ul>
                                            <li class="inv-detail">
                                                <span class="detail-name">PO Number:</span> <span class="val">{{ invoice.PO_number }}</span>
                                            </li>
                                            <li class="inv-detail">
                                                <span class="detail-name">For:</span> <span class="val">{{ invoice.description }}</span>
                                            </li>
                                            <li class="inv-detail">
                                                <span class="detail-name">Amount:</span> <span class="val">{{ invoice.currency }}{{ invoice.amount }}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                    <div class="empty-message">
                        <i class="fa-solid fa-circle-info"></i>You've submitted all requested invoices, and should receive a confirmation email shortly. Thank you!
                    </div>
                {% else %}
                    <div class="empty-div"></div>
                    <div class="empty-message">
                        <i class="fa-solid fa-circle-info"></i> We aren't expecting any invoices from you right now. If you have any questions, please email us directly.
                    </div>
                {% endif %}
            </section>
            <section class="invoice-upload-area">
                <h1>Your invoices</h1>
                <div class="inv-file-displays-wrapper">
                    <form action="{% url 'pipeline:process-uploaded-vendor-invoice' %}"
                          method="post"
                          id="invoice-upload-form"
                          enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="fallback">
                            <input name="file" type="file" multiple />
                        </div>
                    </form>
                    <div id="invoice-select-area" class="inv-file-displays"></div>
                    <div class="empty-message">
                        <i class="fa-solid fa-circle-info"></i> Drag and drop invoices to the screen and they will appear here.
                    </div>
                    <div class="sticky-bound">
                        <button type="submit" name="submit" id="invoice-upload-btn" disabled>
                            <span class="btn-text">Submit!</span>
                            <div class="loading-spinner hidden">
                                <p class="spinner-text">Uploading</p>
                                <span class="segment seg-1"></span>
                                <span class="segment seg-2"></span>
                                <span class="segment seg-3"></span>
                            </div>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </body>
{% endblock body_block %}
