<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
	<h1>We want to pay you! </h1>

	<p>Hey {{ vendor_first_name }}, thanks for your work as always! Please send us your invoice(s) for the following job(s): <br>
	</p>

	{% for cost in costs %}
	<ul>
		<li><strong>{{ cost.job.job_name }} - {{ cost.job.job_code }}</strong> 
			<br>Description: {{ cost.description }}
			<br>Amount: ¥{{ cost.amount }}</li>
	</ul>
	{% endfor %}
	<p>We plan to pay you by the 25th of the following month upon receipt of invoice. If you have any questions or concerns, please reach out directly. Looking forward to working with you again! </p></br>
	<p><em>If this email finds you erroneously, please forgive us! We're trying out something new.</em></p>
</body>
</html>
