<!DOCTYPE html>
{% extends "main_app/base.html" %}
{% block title %}Oops...{% endblock %}
{% block navbar %}{% endblock %}
{% block body_block %}

<div class="container-fluid bg-body-secondary">
	<div class="container p-3 bg-body-tertiary">
		<h3 class="display-5">Looks like you don't have any invoices to submit.</h3>
		<p>If that doesn't seem right, please reach out to us directly! You can respond directly to the email you received from <strong>invoice@bwcatmusic.com</strong>.</p>
	</div>
</div>
{% endblock %}

