<!DOCTYPE html>
{% extends "main_app/base.html" %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{# {% load django_bootstrap5 %} #}
{% load static %}
  {% block body_block %}
  <div class="d-flex justify-content-between">
    <div class="col-4">
        <h1 class="display-1">Pipeline</h1>

        {# <h1 class="display-2">Jobs</h1> #}
        {% if job_form.errors %}
          {% for error in job_form.errors %}
          <p>{{ error }} </p>
          {% endfor %}
        {% endif %}
    </div>
    <div class="col-auto me-auto">
    {% if messages %}
      {% for message in messages %}
        <div class="container-fluid p-0">
          <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              {# <span aria-hidden="True">&times;</span> #}
            </button>
            {{ message }}
          </div>
        </div>
      {% endfor %}
    {% endif %}
    </div>
  </div>
    {# Fields area #}
</div>
<div class="container-auto bg-body-secondary p-4">
  <div class="container bg-body-tertiary">
    <div class="row g-3 p-3 d-flex">
      <div class="col-lg-12 col-xl-8 me-auto">
        <form method="post" class="form-control shadow" id="job-form">
          {% csrf_token %}
          <h3>Add a job</h3>
          <hr>
          <div class="row g-3 p-1">
            <div class="col-sm-12">
              <div class="input-group">
                {% render_field job_form.client class+="form-select" %}
                <button class="btn btn-light" type="button" id="pipeline-new-client-btn" data-bs-toggle="modal" data-bs-target="#new-client-modal">Add New Client</button>
              </div>
            </div>
          </div>
          <div class="row g-3 p-1">
            <div class="col-sm-6">
              {% render_field job_form.job_name class+="form-control" placeholder="Enter job name" %}
            </div>
            <div class="col-sm-6">
              <div class="input-group">
                <span class="input-group-text" id="yen-addon">¥</span>
                {% render_field job_form.budget class+="form-control" help_text="enter budget in ¥10k increments" %}
                <span class="input-group-text" id="man-addon">万</span>
              </div>
            </div>
          </div>
          <div class="row g-3 p-1">
            <div class="col-sm-3">
              {% render_field job_form.job_type class+="form-select" %}
            </div>
            <div class="col-sm-3">
              {% render_field job_form.personInCharge class+="form-select" %}
            </div>
            <div class="col-sm-3">
              {% render_field job_form.month class+="form-control" %}
            </div>
            <div class="col-sm-3">
              {% render_field job_form.year class+="form-control" %}
            </div>
            <div class='row g-3 p-1 align-items-center'>
              <div class="col-auto">
                <input type="submit" name="addjob" id="add-job-btn" value="Add Job" class="btn btn-dark">
              </div>
              <div class="col-auto p-0">
                <div class="spinner-border spinner-border-sm invisible" role="status" id="add-job-spinner">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="csv-export col-xl-2 p-1 d-none d-xl-block align-self-end">
        <form method="post" class="form-control">
          {% csrf_token %}
            <div class="row">
              <div class="col">
              {{ csv_export_form.fromMonth}}
              {{ csv_export_form.fromYear }}
              {{ csv_export_form.useRange }}
              <label for="csv-export-use-range">Multi-month report</label>
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
              {{ csv_export_form.thruMonth|add_class:"invisible" }}
              {{ csv_export_form.thruYear|add_class:"invisible"}}
              </div>
            </div>
              <div class="row">
                <div class="col">
                
                <input type="submit" name="csvexport" value="Export CSV" class="btn btn-light">
                </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{# Modal #}
<div class="modal fade" id="new-client-modal" tabindex="-1" aria-labelledby="new-client-modal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="new-client-form" method="post" data-url="{% url 'main_app:pipeline' %}">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Add a New Client</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% csrf_token %}
        <div class="row px-3 py-0 g-1">
          <div class="col-9">
            <label for="id_friendly_name" class="form-label small">Client name</label>
            {% render_field client_form.friendly_name class+="form-control" placeholder="e.g. Apple" %}
          </div>
          <div class="col-3">
            <label for="id_job_code_prefix" class="form-label small">Prefix</label>
            {% render_field client_form.job_code_prefix class+="form-control" placeholder="e.g. APL" %}
            <div id="prefix_help" class="form-text">2-4 characters</div>
          </div>
        </div>
        <div class="row p-3 g-1">
          <p class="p-0 g-0">Proper client name</p>
          <div class="col-6 pt-0">
            <label for="id_proper_name" class="form-label small pt-0">English</label>
            {% render_field client_form.proper_name class+="form-control" placeholder="e.g. Apple Japan, Inc. "%}
          </div>
          <div class="col-6">
            <label for="id_proper_name_japanese" class="form-label small">Japanese</label>
            {% render_field client_form.proper_name_japanese class+="form-control" placeholder="e.g. (株)りんご社" %}
          </div>
          <div id="proper_name_help" class="form-text">The client name to be used for invoices. Enter one or the other.</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-dark submit" id="add-new-client-btn" name="new-client">Add Client</button>
        </form>
        
      </div>
    </div>
  </div>
</div>

  {# select, sort #}
  <div class="bg-body-tertiary p-5">
    <form action="" method="get" class="form-control shadow">
    <div class="row g-1">
      <div class="col">
        <h3>Filter</h3>
      </div>
      {% if filter %}
        <div class="col">
          {% render_field filter.form.year class+="form-select" id="filter-year" %}
        </div>
        <div class="col">
          {% render_field filter.form.job_date class+="form-select" id="filter-date" %}
        </div>
        <div class="col">
          {% render_field filter.form.client class+="form-control" placeholder=filter.form.client.label id="filter-client" %}
        </div>
        <div class="col">
          {% render_field filter.form.job_name class+="form-control" placeholder="Job name" id="filter-job-name" %}
        </div>
        <div class="col">
          {% render_field filter.form.full_name class+="form-control" placeholder="Vendor name" id="filter-vendor-name" %}
        </div>
        <div class="col">
          <input type="submit" class="btn btn-light" value="Filter" />
        </div>
      </div>
    </form>
    {% else %}
    <p>Looks like the filter broke...</p>
    {% endif %}

  <div class="p-3">
    <form method="post" class="">
      {% csrf_token %}
      <div class="row d-flex align-items-baseline">
        <div class="col-auto">
          <h5 class="">Bulk actions</h5>
        </div>
        <div class="col-auto">
          {{ bulk_actions.actions }}
        </div>
        <div class="col-auto">
          <input type="submit" class="btn btn-dark" name="bulk-actions" id="pipeline-bulk-actions-submit" value="Go">
        </div>
        <div class="col-1 ms-auto">
          <a href="{% url 'main_app:import-job' %}"><button type="button" id="import-job-csv-btn" class="btn btn-sm btn-light">Import jobs</button></a>
        </div>
      </div>
      <hr>
    </div>
  {% render_table table 'django_tables2/bootstrap5.html' %}
  </form>
</div>

  {% endblock %}
