{% extends "main_app/base.html" %}
{% load static %}
{% block body_block %}
<h1 class='display-1'>Vendor Invoice Manager</h1>
<h2>Request vendor invoices</h2>

{# Messages  #}
{% if messages %}
<div class="container {{ message.tags }} p-3"></div>

		{% for message in messages %}
		<p{% if message.tags %} class="{{ message.tags }} d-6"{% endif %}>{{ message }}</p>
		{% endfor %}

{% endif %}

{% for cost in costs_READY_REQ %}
	<p>{{ cost }} - {{ cost.get_invoice_status_display }}</p>
{% endfor %}
	<a href="{% url 'main_app:invoice-request-send' %}"></abbr><button type="button" class="btn btn-primary">Request Invoices</button></a>
<br><br>

<h2>Received invoices</h2>
{% for cost in costs_REC %}
		<p>{{ cost }} - {{ cost.get_invoice_status_display }}</p>
{% endfor %}

<br><br>
<h2>Invoice folder contents</h2>
{% if files %}
	{% for file in files %}
			<p>{{ file }}</p>
	{% endfor %}
{% else %}
<h3 class='success p-2'>No files!</h3>
{% endif %}
{% endblock %}