.edit-del-btn-group {
  color: inherit;
}

/*.success {
  background-color: var(--bs-success-bg-subtle);
  color: var(--bs-success-text);
}

.info {
  background-color: var(--bs-success-bg-subtle);
  color: var(--bs-success-text);
}

.warning {
  background-color: var(--bs-warning-bg-subtle);
  color: var(--bs-warning-text);
}

.error {
  background-color: var(--bs-danger-bg-subtle);
  color: var(--bs-danger-text);

}*/